#activity-div {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 600px;
  height: 245px;
  border: 1px solid;
  border-radius: 12px;
}

#followers {
  border-right: 1px solid;
  padding: 10px;
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

#followers::-webkit-scrollbar {
  display: none;
}

.follower-link {
  text-decoration: none;
  font-size: 1.2em;
  color: blue;
}

#followers h2,
#user-posts h2 {
  text-decoration: underline;
  margin-bottom: 15px;
}

#user-posts {
  padding: 10px;
  flex: 2;
  overflow-y: scroll;
}

#user-posts::-webkit-scrollbar {
  display: none;
}

.post-card {
  border: 1px solid;
  padding: 4px;
  margin: 10px auto;
}
