#activity-div {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 600px;
  border: 1px solid;
  border-radius: 12px;
}

#followers {
  border-right: 1px solid;
  padding: 10px;
  flex: 1;
}

#user-posts {
  padding: 10px;
  flex: 2;
}
