name: Frontend CI

on:
  push:
    branches:
      - dev
      - Victoria
      - VT
      - Oliver
      - Sebastian
      - main
  pull_request:
    branches:
      - dev
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: |
          cd twitter-clone
          npm install

     
      - name: Install Playwright Browsers and dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libgtk-4-1 libgraphene-1.0-0 libwoff2-1 libvpx9 libevent-2.1-7 libopus0 \
            gstreamer1.0-libav gstreamer1.0-plugins-base gstreamer1.0-plugins-good \
            gstreamer1.0-plugins-bad gstreamer1.0-plugins-ugly libsecret-1-0 libhyphen0 \
            libgstreamer-gl1.0-0 libavif16 libharfbuzz-icu0 libx264-163
          cd twitter-clone
          npx playwright install

      
      - name: Start frontend server
        run: |
          cd twitter-clone
          npm run dev &
          # V채nta tills servern 채r ig책ng (kan justeras beroende p책 appen)
          npx wait-on http://localhost:5173

      - name: Run Playwright E2E tests
        run: |
          cd twitter-clone
          npx playwright test
